<li class="btn-group">
  <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
    <span><%= t("defaults.link.action") %></span> <i class="icon-angle-down"></i>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <% if ticket.status != "closed" %>
      <li>
        <%= link_to edit_ticket_path(ticket) do %>
          <i class="icon-edit"></i><%= t("tickets.defaults.edit_record_label") %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
      	<% if ticket.assigned_id.nil? %>
      	  <%= link_to edit_ticket_path(ticket, nolayout: 1), "data-toggle" => "modal", "data-target" => "#newAgileRecord" do %>
      	    <i class="icon-user"></i> <%= t("tickets.label.assign_to_someone") %>
      	  <% end %>
      	<% else %>
      	  <%= link_to edit_ticket_path(ticket, nolayout: 1), "data-toggle" => "modal", "data-target" => "#newAgileRecord" do %>
      	    <i class="icon-random"></i><%= t("tickets.label.change_responsible") %>
      	  <% end %>
      	<% end %>
      </li>
      <li>
        <%= link_to ticket_path(ticket, "ticket[status]" => "closed"), method: "put" do %>
          <i class="icon-folder-close"></i><%= t("tickets.action.close") %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to ticket, :data => {:confirm => t("tickets.message.destroy_confirm")}, :method => :delete do %>
          <i class="icon-remove"></i><%= t("tickets.action.delete") %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to ticket_path(ticket, "ticket[status]" => "open"), method: "put" do %>
          <i class="icon-folder-open"></i><%= t("tickets.action.reopen") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>