<li class="btn-group">
  <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
    <span><%= t("simple_form.labels.defaults.action") %></span> <i class="fa fa-angle-down"></i>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <% if ticket.status != "closed" %>
      <li>
        <%= link_to edit_ticket_path(ticket) do %>
          <i class="fa fa-edit"></i><%= t("simple_form.helpers.defaults.edit") %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
      	<% if ticket.assigned_id.nil? %>
      	  <%= link_to edit_ticket_path(ticket, nolayout: 1), "data-toggle" => "modal", "data-target" => "#newAgileRecord" do %>
      	    <i class="fa fa-user"></i> <%= t("simple_form.helpers.ticket.assign_to_someone") %>
      	  <% end %>
      	<% else %>
      	  <%= link_to edit_ticket_path(ticket, nolayout: 1), "data-toggle" => "modal", "data-target" => "#newAgileRecord" do %>
      	    <i class="fa fa-random"></i><%= t("simple_form.helpers.ticket.change_responsible") %>
      	  <% end %>
      	<% end %>
      </li>
      <li>
        <%= link_to ticket_path(ticket, "ticket[status]" => "closed"), method: "put" do %>
          <i class="fa fa-folder-close"></i><%= t("simple_form.helpers.defaults.close") %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to ticket, :data => {:confirm => t("simple_form.messages.defaults.destroy_confirm")}, :method => :delete do %>
          <i class="fa fa-remove"></i><%= t("simple_form.helpers.defaults.delete") %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to ticket_path(ticket, "ticket[status]" => "open"), method: "put" do %>
          <i class="fa fa-folder-open"></i><%= t("simple_form.helpers.ticket.reopen") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>