<div class="row">

  <div class="col-md-1">
  </div>

  <div class="col-md-11">

    <div class="portlet box grey">
      <% content_for(:portlet_actions, flush: true) do %>
        <%= link_to nimbos.new_discussion_url(ticket_id: ticket.id), class: "btn green btn-sm" do %>
          <%= iconed_link_label(Nimbos::Discussion.model_name.human, "fa-comments", "start") %>
        <% end %>
      <% end %>
      <%= render "shared/portlet_title", title: Nimbos::Discussion.model_name.human(count: 2) %>

      <div id="Helpdesk::Ticket_<%= ticket.id %>_discussions_list" class="portlet-body">
        <ul id="Helpdesk::Ticket_<%= ticket.id %>_discussions">
          <%= render partial: "nimbos/discussions/discussion", collection: ticket.discussions, as: :discussion %>
        </ul>
      </div>
    </div>

    <div class="portlet box grey">
      <% content_for(:portlet_actions, flush: true) do %>
        <%= nil %>
      <% end %>    
      <%= render "shared/portlet_title", title: Helpdesk::TicketAction.model_name.human(count: 2) %>
      <div id="Helpdesk::Ticket_<%= ticket.id %>_actions_list" class="portlet-body">
        <%= ticket_actions_list_table(ticket.ticket_actions) %>
      </div>
    </div>

    <div class="portlet box grey">
      <% content_for(:portlet_actions, flush: true) do %>
        <%= link_to arsiv.new_document_path(ticket_id: ticket.id), class: "btn green btn-sm" do %>
          <%= iconed_link_label(Arsiv::Document.model_name.human, "fa-copy", "share") %>
        <% end %>
      <% end %>
      <%= render "shared/portlet_title", title: Arsiv::Document.model_name.human(count: 2) %>

      <div id="ticket_<%= ticket.id %>_documents_list" class="portlet-body">
        <ul id="ticket_<%= ticket.id %>_documents">
          <%= render partial: "arsiv/documents/document", collection: ticket.documents %>
        </ul>
      </div>
    </div>

  </div>

</div>