<%= simple_form_for(@ticket, validate: true, html: { class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title, label: t("tickets.label.title"), hint: t("tickets.hint.title"), input_html: { class: "input-xlarge" } %>
  <%= f.input :desc, label: t("tickets.label.desc"), placeholder: t("tickets.placeholder.desc"), input_html: { rows: "2", class: "input-xlarge" } %>
  <%#= f.input :status, as: :select, collection: Helpdesk::Ticket.ticket_status.map { |t| [t("tickets.status.#{t}"), t] } %>
  <%#= f.input :assigned_id %>
  <%#= f.input :close_date, as: :string %>

  <div class="form-actions">
    <%= f.submit t("tickets.action.create"), class: "btn btn-success" %>
    <%= link_to "Cancel", tickets_path, class: "btn" %>
  </div>
<% end %>
