<%= simple_form_for(@ticket, validate: true, html: { class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :desc, input_html: { rows: "2" } %>
  <%= f.input :status %>
  <%= f.input :assigned_id %>
  <%= f.input :close_date, as: :string %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
