<div class="portlet box green">
  <%= render "shared/portlet_title", title: Helpdesk::Ticket.model_name.human %>

  <div class="portlet-body form">

    <%= simple_form_for(@ticket, validate: true, html: { class: "horizontal-form" }) do |f| %>
      <%= f.error_notification %>
      <%= f.error :base, :error_method => :to_sentence, class: "alert alert-danger" %>

      <div class="form-body">

        <div class="row">
          <div class="col-md-8">
            <%= f.input :title %>
            <%= f.input :team_id, as: :select, collection: Helpdesk::Team.all %>
            <%= f.input :desc, input_html: { rows: "4" } %>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit t("simple_form.helpers.submit.defaults.create"), class: "btn btn-success" %>
        <%= link_to t("simple_form.helpers.defaults.cancel"), helpdesk.tickets_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
