<div class="row-fluid">

  <div class="span1">
    <%= image_tag "/assets/def_company_pic.png", class: "thumbnail" %>
  </div>

  <div class="span11" id="ticket_<%= ticket.id %>_profile_header">
    <div class="row-fluid">
      <div class="span8">
        <p>
          <strong><%= ticket.title %></strong>
          <br>
          <small><%= ticket.desc %></small>
        </p>
      </div>
      <div class="span3 btn-toolbar">
        <%= render partial: "actions", locals: { ticket: ticket } %>
        <div class="btn-group">
          <%= link_to t("tickets.defaults.edit_record_label"), edit_ticket_path(ticket), class: "btn" %>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <p>
        <i class="icon-user"></i>
        <%= link_to user_name(ticket.user), main_app.user_path(ticket.user) %>
        |
        <i class="icon-calendar"></i>
        <%= created_time(ticket.created_at) %>
        |
        <i class="icon-flag"></i>
        <%= t("tickets.status.#{ticket.status}") %>
        |
        <% unless ticket.assigned_id.nil? %>
          <i class="icon-user"></i>
          <%= t("tickets.label.assigned") %>:<%= link_to user_name(ticket.assigned), main_app.user_path(ticket.assigned) %>
          <% if ticket.status == "open" %>
          [<i class="icon-random"></i>
          <%= link_to t("defaults.action.change"), edit_ticket_path(ticket, nolayout: 1), "data-toggle" => "modal", "data-target" => "#newAgileRecord" %>]
          <% end %>
          |
          <i class="icon-calendar"></i>
          <%= created_time(ticket.close_date) if ticket.close_date %>
        <% else %>
          <i class="icon-random"></i>
          <%= t("tickets.label.not_assigned_yet") %>,
          <%= link_to t("tickets.label.assign_to_someone"), edit_ticket_path(ticket, nolayout: 1), "data-toggle" => "modal", "data-target" => "#newAgileRecord" %>
        <% end %>
      </p>
    </div>
  </div>

</div>