<div class="row-fluid" id="ticket_<%= ticket.id %>_profile">
  <%= render partial: "header", locals: { ticket: ticket } %>
</div>

<div class="row-fluid">

  <div class="row-fluid profile-section">
    <div class="page-header">
      <h5>
        <span class="sub-link">
          <%= link_to "Start new discussion", nimbos.new_discussion_path(ticket_id: ticket.id), class: "btn btn-small btn-info"  %>
        </span>
      </h5>
    </div>

    <div class="row-fluid">
      <ul id="Helpdesk::Ticket_<%= ticket.id %>_discussions">
        <%= render partial: "nimbos/discussions/discussion", collection: ticket.discussions.latests, as: :discussion %>
      </ul>
    </div>
  </div>

  <div class="row-fluid profile-section">
    <%= page_sub_header("Tarihçe") %>
    <div class="row-fluid">
      <%= ticket_actions_list_table(ticket.ticket_actions) %>
    </div>
  </div>
</div>