<% if @team.errors.present? %>
  toastr.error('<%= j error_messages_for(@team) %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-error"><%= j error_messages_for(@team) %></div>');
  $("#messages").fadeOut(4000);
<% else %>
  $("#teams_list").append('<li class="list-group-item"><%= link_to @team.title, helpdesk.team_path(@team), remote: true %></li>');
	$('#team_profile').html('<%= escape_javascript(render @team) %>');
	$("#cost_title").focus();
  toastr.info('<%= j flash[:notice] %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-notice"><%= j flash[:notice] %></div>');
  $("#messages").fadeOut(5000);
<% end %>
jQuery(document).ready(function() {
  App.initAjax();
  ComponentsPickers.init();
});