<% if @team.errors.present? %>
  toastr.error('<%= j error_messages_for(@team) %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-error"><%= j error_messages_for(@team) %></div>');
  $("#messages").fadeOut(4000);
<% else %>
  $("#team_<%= @team.id %>").remove();
  $("#team_profile").html('');
  toastr.info('<%= j flash[:notice] %>');
  $("#messages").show();
  $("#messages").html('<div id="flash_notice" class="alert alert-notice"><%= j flash[:notice] %></div>');
  $("#messages").fadeOut(5000);
<% end %>