<h1><%= t("teams.title.teams") %></h1>
<hr>
<div class="row">
	
	<div class="col-md-3">
		<ol id="teams_list" class="list-group">
			<% @teams.each do |team| %>
				<li class="list-group-item" id="team_<%= team.id %>">
				  <%= link_to helpdesk.team_path(team), remote: true do %>
				    <%= team.title %> <span class="text-muted"><%= team.email %></span>
				  <% end %>
				</li>
			<% end %>
		</ol>
		<hr>
			<div id="team_form_div">
			<%= render "form" %>
		</div>
	</div>

	<div class="col-md-9" id="team_profile">
		
	</div>
</div>